/* -------------------Small  Device---------- */
@media  (max-width:767.98px){ 
/* navbar-------------------- */
#navbar {
  padding: 20px 0;
}
#navbar .logo img{
    max-width: 137px;
    padding-left: 20px;
}
.hambar-icon{
    padding-right: 20px;
 }
.manu,
.subscrive-btn{
    display: none;
} 
/* banner section start */
#banner {
 padding-bottom: 70px;
}
#banner .banner-img img {
    max-width: 90%;   
  }
.banner .new-add h5 {
  font-size: 20px;
  top: 21px;
  right: 24px;
}
.banner h1 {
  font-size: 49px;
  padding: 30px 0 8px 0;
}
.banner p {
text-align: center;
padding: 0 20px 24px 20px;
}
.banner-img .microphone-img {
  position: absolute;
  top: 81px;
  left: 108px;
}
/* banner section end------------------- */

/* about start------------ */
#about .head-tittle {
  font-size: 40px;
}
#about .about p {
  padding: 0px 20px;
}
#about .about {
  padding-bottom:40px;
}
#about .about .join {
  padding-top: 20px;
  padding-left:35px ;
  padding-right:35px ;
}
#about .experience ul {
  width: 95%;
 gap: 40px;
 flex-wrap: wrap;
}
#about .experience ul li{
    width: 45%;
}
/* about END------------ */

}

















 /* -------------------Medium Device---------- */
@media (min-width:768px) and (max-width:991.98px)  { 
    /* nav section-------------- */
#navbar .logo img{
    max-width: 180px;
    padding-left: 20px;
}
.hambar-icon{
    padding-right: 20px;
 }
.manu,
.subscrive-btn{
    display: none;
} 

 }

 
/* // Large devices (desktops, 992px and up) */
@media (min-width:992px) and (max-width:1399.98px) { 
/* nav section-------------- */
.hambar-icon{
    display: none;
}
}