
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
 ol,ul,li{
    list-style: none;
 }
 a{
    text-decoration: none;   
 }
body{
 font-family: "Inter", sans-serif;
 background:#1A0B2E ;
/* background: linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%); */
}
.container{
   max-width: 1200px;
   margin: 0 auto;
}
 .primary-btn{
background: linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
padding: 12.5px 16px;
border: none;
border-radius:  15px;
cursor: pointer;
color: #fff;
font-weight: 600;
font-size: 16px;
transition: .5s ease-in-out;
border: 1px solid #FB09B4;
}
.primary-btn:hover{
   color:#00FF88 ;
   border: 1px solid #00FF88;
   background: transparent;

}
.secendry-btn{
   color:#00FF88 ;
   font-size: 16px;
   font-weight: 600;
   padding: 12px 20px;
  border-radius:  15px;
   border: 1px solid #00FF88;
   cursor: pointer;
   transition: .5s ease-in-out;
   background: transparent;
}
.secendry-btn:hover{
    color:#fff ;
 border: 1px solid #FB09B4;
   background: linear-gradient(to right,#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
}
.head-tittle{
text-align: center;
color: #fff;
font-weight:800 ;
font-size: 48px;
}



/* --------------------- NAVBAR SECTION START--------------- */
#navbar{
   border-bottom: 1px solid #412567;
   padding: 22px 0;
}
.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color:white;
}
.navbar .logo img{
max-width: 219px;
}
.navbar .manu ul{
   display: flex;
   gap: 32px;
}
.navbar .manu ul li a{
   color:#fff ;
   font-size:16px ;
   font-weight:500 ;
}

.subscrive-btn .btn i{
   padding-left: 6.5px;
}
.hambar-icon{
   cursor: pointer;
   font-size:20px ;
}
/* --------------------- NAVBAR SECTION END--------------- */


/* -------------- BANNER SECTION START-- */
#banner{
   background-image: url(../assets/hero-bg.png);
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   padding: 101px 0;
}
.banner{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.banner-img{
   position: relative;
}
.banner-img  .microphone-img {
   position: absolute;
   top: 90px;
   left: 120px;
}
.banner .new-add h5{
   color: #1A0B2E;
   font-size:18px ;
   font-weight:600 ;
   background-color: #00FF88;
   padding: 8px 16px;
   display: inline-block;
   border-radius: 20px;
   position: absolute;
   top: 20px;
   right: 10px;
}
.banner h1{
   color:#fff ;
   font-size:60px ;
   font-weight:800 ;
   padding: 40px 0 8px 0;
}
.banner p{
   color:#fff ;
   font-size:16px ;
   font-weight:400 ;
   padding-bottom: 24px;
}
.banner .contact-btn .primary-btn{
   margin-right: 8px;

}
.banner .contact-btn .primary-btn i{
   padding-right: 11px;
}
.banner .contact-btn .secendry-btn i{
   padding-right: 11px;
}

/* -------------- BANNER SECTION END  -- */


/* ------------- about start------- */
#about .about{
   padding-bottom: 80px;
    border-bottom: 1px solid #412567;

}
#about .about .head-tittle{
   padding-bottom: 16px;
}
#about .about p{
text-align: center;
color: #fff;
font-weight:400 ;
font-size: 16px;
padding: 0 180px;
}
#about .about  .join{
   text-align: center;
   padding-top: 60px;
   text-align: center;
}
#about .experience{
   padding: 80px 0 120px 0;
}
#about .experience ul{
   display: flex;
   justify-content: space-between;
   text-align: center;
}
#about .experience ul li{
   color: #00FF88;
   font-size: 48px;
   font-weight: 800;
}
#about .experience ul p{
   color: #fff;
   font-size: 16px;
   font-weight: 400;
   text-transform: uppercase;
}
/* ------------- about end------- */